ul {
  padding-right: 5%;
}

.user_con {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.user_img {
  width: 10%;
  border: 1px solid black;
}

.user_data_con {
  border: 1px solid black;
  width: 90%;
  padding: 1.5%;
}

.posts_number {
  float: right;
}